@font-face {
  font-family: "CormorantGaramond-Bold";
  src: url("../fonts/CormorantGaramond-Bold.woff");
}

@font-face {
  font-family: "CormorantGaramond-Medium";
  src: url("../fonts/CormorantGaramond-Medium.woff");
}

@font-face {
  font-family: "CormorantGaramond-Regular";
  src: url("../fonts/CormorantGaramond-Regular.woff");
}
